<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="/stylesheets/common_style.css">
	<link rel="stylesheet" href="/stylesheets/admin.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dhtmlxgrid.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dhtmlxgrid_dhx_terrace.css">
	
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/dhtmlxcommon.js"></script>
	<script type="text/javascript" src="/js/connector.js"></script>
	<script type="text/javascript" src="/js/dhtmlxgrid.js"></script>  
	        
	<script type="text/javascript" src="/js/dhtmlxgridcell.js"></script>
	<script type="text/javascript" src="/js/dhtmlxgrid_filter.js"></script>
   	<script type="text/javascript" src="/js/dhtmlxgrid_excell_link.js"></script>
	
</head>
<body>
	<body>
		<div class="wrapper">
			<div class="header float_left">		
				<div class="top_header">			
					<div class="logo float_left">					
						<a href="#" class="float_left">
							<img src="/images/logovishal.png">
						</a>
					</div>			
				</div>
				<div class="bottom_header float_left">
					<div class="menu-bar float_left">
						<ul class="float_left">					
							<li class="float_right">
								<a href="/Logout" class="">Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</div> <!-- End of header div -->	

		
		<section class="section_container float_left">
			<p class="float_left msg_send_ack"><%= success %></p>
			<section class="section_current">
				<div id="admin_grid" style="width:950px;height:250px;background-color:white;overflow:hidden">
					</div>
					<br>
					<script>
						var data = "";
						var searchGrid = new dhtmlXGridObject('admin_grid');
						searchGrid.setImagePath("imgs/");
						searchGrid.setHeader("ticket id, user_id, status, urgency, sub_time");
						searchGrid.setInitWidths("100,130,130,130,*");
						searchGrid.attachHeader("#text_search,#text_filter,#text_filter,#text_filter,#text_filter");
						searchGrid.setColAlign("right,left,left,left,left");
						searchGrid.setColTypes("ro,ro,ed,ro,ro");
						searchGrid.setColSorting("int,int,str,str,str");
						searchGrid.enableMultiselect(true);
						searchGrid.setSkin("dhx_terrace");
						searchGrid.init();
						searchGrid.attachEvent("onEditCell", function(stage,rId,cInd,nValue,oValue){							
							if(stage==2)
							{		
								var data = {};
								data = {ticket_id : rId, newValue: nValue};						
								$.ajax
								({									
									type: 'POST',
					        		url: '/modifyStatus',
					        		data: data,
					    		}).done(function(response) {
					    			location.reload();					    					    						    	
					    		}).error(function(response) {
					    			console.log("-----------error" + JSON.stringify(response));
					    		});							
							}
						});		
						
						searchGrid.attachEvent("onRowDblClicked", function(rId,cInd){
							var data = {};
								data = {ticket_id : rId};						
								$.ajax
								({									
									type: 'POST',
					        		url: '/getTicketInformation',
					        		data: data,
					    		}).done(function(response) {
					    			alert(JSON.stringify(response));
					    			for(i in response)
					    			{
					    				jQuery(".ticket_id").val(response[0].ticket_id);
					    				jQuery(".status").val(response[0].status);
					    				jQuery(".urgent").val(response[0].urgency);
					    				jQuery(".email").val(response[1].email);
					    				jQuery(".question").val(response[2].question);
					    				jQuery(".topic").val(response[2].topic);
					    			}
					    			
					    			jQuery('section.section_current').css('display','none');
					    			jQuery('section.section_send_reply').css('display','block');					    			
    					    					    						    	
					    		}).error(function(response) {
					    			console.log("-----------error" + JSON.stringify(response));
					    		});
						});  
						
						$.ajax({
							type: 'GET',
					        url: '/dataFromTable'
					    }).done(function(response) {
					    	
					    	$.each(response,function(index,value){					    							    		
					    		if(data != "")
					    		{
									data = data + ',';
								}
								data = data + "{ id:"+value.ticket_id +", data:["+value.ticket_id+",'"+value.user_id+"','"+value.status+"','"+value.urgency+"','"+value.sub_time+"','"+value.expiry_date+"'] }";
					    	});					    	
					    	var memberJSONString = "{rows:["+data+"]}";
					    	var js = eval("("+memberJSONString+")");
							searchGrid.parse(js,"json");
					    }).error(function(response) {
					    	console.log("-----------error" + response);
					    });
						
					</script>	 
			</section>
			
			<script src="/js/chosen.jquery.js" type="text/javascript"></script>
	
			<script type="text/javascript">
			    var config = {    		
			      '.chosen-select' : {},	      
			    }
			    for (var selector in config) {
			      $(selector).chosen(config[selector]);
			    }
		  	</script>
		  	
		  	<section class="section_send_reply">
				<div class="content float_left clear_left">
					<form class="forms" action="/SendMail" method="post">
						<fieldset class="all_form description_form">
							<legend> Reply </legend>
							
							<p>
								<label>Ticket Id</label>
								<input type="text" name="ticket_id" class="ticket_id" disabled/>
							</p>
							
							<p>
								<label>Status</label>
								<input type="text" name="status" class="status" disabled/>
							</p>
							
							<p>
								<label>Urgent</label>
								<input type="text" name="urgent" class="urgent" disabled/>
							</p>
																
							<p>
								<label>Email</label>
								<input type="email" name="email" class="email" disabled/>
							</p>
							
							<p>
								<label>Topic</label>
								<input type="text" name="topic" class="topic" disabled/>
							</p>
							
							<p>
								<label>Question</label>
								<textarea type="text" name="question" class="question" disabled></textarea>								
							</p>
				
							<p>
								<label>Reply:</label>
								<textarea type="text" name="reply_to_prob" class="reply_to_prob"></textarea>
							</p>																
						</fieldset>
							
						<div class="buttons">										
							<input  class="button back_button" type="button" value="<< Back	">				
							<input  class="button" type="submit" value="Finish >>">
						</div>
	
					</form>
					<script>
						$(document).ready(function () {
							jQuery(".back_button").click(function(){
								jQuery('section.section_current').css('display','block');
					    		jQuery('section.section_send_reply').css('display','none');
							});
						});
					</script>
				</div>
			</section>
		
		<div class="footer clear_left float_left">
			<p>Copyright 2014 by Team #4 </p>
		</div>	
				
	</div>

</body>
</html>