<!DOCTYPE html>
<html>
<head>

<style> 
#login{
float:right;
background-color:#d3d3d3;
border:solid 1px #5A5A5A;
width:580px;
padding-left: 30cm;
text-align:right;
}    
</style>  
</head>
  
<body>
<div id="login">
<form id="f1" method="post" action="/UserHome">
<table>
    <td><b> User Name</b></td><td><input type="text" id="username" name="username" required></td>
    <td><b>Password</b></td><td><input type="password" id="password" name="password" required></td>
    <td><button id="b1" type="submit">Sign In</button></td></tr> 
</table>
</form>
</div>


</body>
</html>