<!DOCTYPE html>
<html lang="en">
    <head>      
        <meta charset="utf-8">      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
            
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/error.css" rel="stylesheet">            
    </head>

    <body data-spy="scroll" data-offset="0" data-target="#theMenu" class="body_login">
      <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Smart Track</a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="nav_home"><a href="/index">HOME</a></li>
                      <li class="nav_login"><a href="/login">Login</a></li>
                      <li class="nav_create_account"><a href="/create_account">Create Account</a></li>
                  </ul>
              </div>  <!--.nav-collapse -->
          </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/login_create.js"></script> 
        <script src="js/bootstrap.min.js"></script> 
    </body>

</html>