<!DOCTYPE html>
<html>
	<head>
	    <title>Request Support Page</title>	
		<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />	
		<link rel="stylesheet" href="/stylesheets/common_style.css">	
		<link rel="stylesheet" href="/stylesheets/admin.css">
		
		<link href="/stylesheets/jquery.akordeon.css" rel="stylesheet" type="text/css" />
	    <link href="/stylesheets/demo.css" rel="stylesheet" type="text/css" />
	    
	    
	    <script src="/js/jquery.min.js" type="text/javascript"></script>
		<script src="/js/bootstrap.js" type="text/javascript"></script>
	    <script src="/js/jquery.akordeon.js" type="text/javascript"></script>
	    
	    <script type="text/javascript">
	        $(document).ready(function () {
	            $('#buttons').akordeon();
	            $('#button-less').akordeon({ buttons: false, toggle: true, itemsOrder: [2, 0, 1] });
	        });
	    </script>
	</head>

	<body>
		<div class="wrapper">
			<div class="header float_left">		
				<div class="top_header">			
					<div class="logo float_left">					
						<a href="#" class="float_left">
							<img src="/images/logovishal.png">
						</a>
					</div>			
				</div>
				<div class="bottom_header float_left">
					<div class="menu-bar float_left">
						<ul class="float_left">					
							<li class="float_left li_home ">
								<a href="/" class="">Home</a>
							</li>

							<li class="float_left li_answers">
								<a href="/Answers">Answers</a>
							</li>

							<li class="float_left li_request li_active">
								<a href="/ReqSupport">Request Support</a>
							</li>	
							
							<li class="float_left li_admin">
								<label class="admin" data-toggle="modal" data-target="#myModal">Admin</label>
							</li>						
						</ul>
					</div>
				</div>
			</div> <!-- End of header div -->	


			<div class="body float_left">
				<div class="body_wrapper float_left">
					<div class="left_body float_left">
						<div class="banner float_left">
							<p class="float_left banner_info">
								<span class="welcome float_left">Welcome to the Support Center</span>
								<span class="info1 float_left clear_left">Please search for information or Submit a Ticket in order</span>
								<span class="info2 float_left clear_left">for personalized assistance.</span>
							</p>
						</div>
						<div class="content float_left clear_left">
							<ul class="float_left content_information">													
	
								<li class="float_left">
									<img src="/images/tickets.png">
									<div class="details">
										<p><a href="/SubmitTicket">Submit a Ticket</a></p>						
										<p>Submit a trouble ticket to our service representatives. You can track the status of your ticket in My Support.</p>
									</div>
								</li>
							</ul>	
						</div>
					</div>								
				</div>		
			</div>  <!-- End of body div -->

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  	<div class="modal-dialog">
			    	<div class="modal-content">
			      		<div class="modal-header">
			        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        		<h4 class="modal-title" id="myModalLabel">Admin Login</h4>
			      		</div>
				      	<div class="modal-body float_left">
				      		<form class="container login_container form-horizontal float_left" action="/Admin" method="post">
		      		                
				      			<div class="control-group control_login float_left clear_left">
				          			<div class="controls">
				            			<input type="text" id="login_email" name="login_email" placeholder="Email"  value="" >
				          			</div>
				          			<label id="login_email_error"></label>
				        		</div>
				                
				        		<div class="control-group control_login float_left clear_left">
				          			<div class="controls">
				            			<input type="password" id="login_password" name="login_password" placeholder="Password" >
				          			</div>
				          			<label id="login_password_error"></label>
				        		</div>			        			        			
				
				        		<div class="control-group login_div control_login float_left clear_left login_divButtonDiv">
				          			<div class="controls">
				            		<button type="submit" class="btn" name="login" id="login_button">Log In</button>
				            		<label id="login_error"></label>
				          			</div>
				          		</div>    		          				          	
				          		    	              
				      		</form>		      	
				      	</div>
				      	<div class="modal-footer clear_left">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>					        
				      	</div>
			    	</div>
			  	</div>
			</div>
			
			<div class="footer clear_left float_left">
				<p>Copyright © 2014 by Team #4 </p>
			</div>		
		</div>
	</body>

</html>
