*
{
    padding: 0;
    margin: 0;
}

#demo-wrapper
{
    width: 75%;    
}
#button-less
{
    margin-top: 20px;
}
#button-less .akordeon-item-head-container
{
    left: 0px !important;
}


